# Groq AI Configuration
GROQ_API_KEY=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

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://akqhzqmuzpxjkhcmldnw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_secret_XtuYRsYebGZ9V1HyfKonVw_8LYQSvb8

